<.combobox_option value="urgent" class="group data-focus:bg-indigo-600">
  <div class="flex items-center">
    <svg class="text-red-500 group-data-focus:text-white">...</svg>
    <span class="group-data-selected:font-semibold">Urgent</span>
  </div>
</.combobox_option>
