<div>
  <.dropdown id="demo-dropdown">
    <.dropdown_trigger>
      Open Dropdown
    </.dropdown_trigger>
    <.dropdown_menu>
      <.dropdown_item>
        Item 1
      </.dropdown_item>
      <.dropdown_item>
        Item 2
      </.dropdown_item>
    </.dropdown_menu>
  </.dropdown>
</div>
