<form>
  <.combobox id="demo-creatable-combobox" name="demo-creatable-combobox[fruit]">
    <.combobox_input placeholder="Type to search or create..." />

    <.combobox_options id="demo-creatable-combobox-options">
      <%= for option <- ["Apple", "Pear", "Mango", "Pineapple"] do %>
        <.combobox_option value={option}>
          {option}
        </.combobox_option>
      <% end %>

      <.creatable_option />
    </.combobox_options>
  </.combobox>
</form>
