<form>
  <.combobox id="country-combobox" name="country-combobox[country]">
    <.combobox_input placeholder="Select a country..." />

    <.combobox_options id="country-combobox-options">
      <%= for {code, name} <- [
        {"US", "United States"},
        {"GB", "United Kingdom"},
        {"CA", "Canada"},
        {"AU", "Australia"},
        {"DE", "Germany"}
      ] do %>
        <.combobox_option value={code} display={name}>
          {name}
        </.combobox_option>
      <% end %>
    </.combobox_options>
  </.combobox>
</form>
