<div>
  <.dropdown id="dropdown-multiline">
    <.dropdown_trigger id="dropdown-multiline-trigger">
      Open Dropdown
    </.dropdown_trigger>
    <.dropdown_menu id="dropdown-multiline-menu">
      <.dropdown_item id="dropdown-multiline-item-0" class="block w-full px-4 py-3">
        <div class="block w-full">Apple</div>
        <div class="block w-full">A crisp, sweet fruit</div>
      </.dropdown_item>
      <.dropdown_item id="dropdown-multiline-item-1" class="block w-full px-4 py-3">
        <div class="block w-full">Banana</div>
        <div class="block w-full">A soft, yellow fruit</div>
      </.dropdown_item>
      <.dropdown_item id="dropdown-multiline-item-2" class="block w-full px-4 py-3">
        <div class="block w-full">Cherry</div>
        <div class="block w-full">A small, tart fruit</div>
      </.dropdown_item>
    </.dropdown_menu>
  </.dropdown>
</div>
