<div>
  <.listbox id="listbox-multiline" name="fruit_choice" value="banana">
    <.listbox_trigger id="listbox-multiline-trigger">
      <.listbox_value>Banana</.listbox_value>
    </.listbox_trigger>

    <.listbox_options id="listbox-multiline-options">
      <.listbox_option
        id="listbox-multiline-option-apple"
        value="apple"
        display="Apple"
        class="block w-full px-4 py-3"
      >
        <div class="block w-full">Apple</div>
        <div class="block w-full">A crisp, sweet fruit</div>
      </.listbox_option>
      <.listbox_option
        id="listbox-multiline-option-banana"
        value="banana"
        display="Banana"
        class="block w-full px-4 py-3"
      >
        <div class="block w-full">Banana</div>
        <div class="block w-full">A soft, yellow fruit</div>
      </.listbox_option>
      <.listbox_option
        id="listbox-multiline-option-cherry"
        value="cherry"
        display="Cherry"
        class="block w-full px-4 py-3"
      >
        <div class="block w-full">Cherry</div>
        <div class="block w-full">A small, tart fruit</div>
      </.listbox_option>
    </.listbox_options>
  </.listbox>
</div>
