<div id="modal-rerender">
  <.button type="button" phx-click={Prima.Modal.JS.open("demo-modal")}>
    Open Modal
  </.button>

  <button id="update-title" type="button" phx-click="update-modal-title" data-title={@modal_title}>
    Update Title
  </button>

  <.modal :if={@modal_present?} id="demo-modal" show={@modal_initial_show?}>
    <.modal_overlay />

    <div>
      <div>
        <.modal_panel id="demo-modal-panel">
          <div>
            <button
              phx-click={Prima.Modal.JS.close()}
              testing-ref="close-button"
            >
              Close
            </button>
            <.modal_title>{@modal_title}</.modal_title>
          </div>
          <div>
            <button id="update-title-inside" type="button" phx-click="update-modal-title">
              Update Title
            </button>
            <button id="remove-modal" type="button" phx-click="remove-modal">
              Remove Modal
            </button>
            <.button phx-click={Prima.Modal.JS.close()} type="button">
              Got it
            </.button>
          </div>
        </.modal_panel>
      </div>
    </div>
  </.modal>
</div>
