<div id="simple-modal">
  <.button type="button" phx-click={Prima.Modal.JS.open("demo-modal")}>
    Open Modal
  </.button>

  <.modal id="demo-modal">
    <.modal_overlay class="fixed inset-0 bg-gray-500/75" />

    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
      <div class="flex min-h-full items-end justify-center p-4">
        <.modal_panel id="demo-modal-panel">
          <div>
            <button
              phx-click={Prima.Modal.JS.close()}
              testing-ref="close-button"
            >
              Close
            </button>
            <.modal_title>Good news</.modal_title>
          </div>
          <div>
            <.button phx-click={Prima.Modal.JS.close()} type="button">
              Got it
            </.button>
          </div>
        </.modal_panel>
      </div>
    </div>
  </.modal>
</div>
