<.dropdown id="my-dropdown">
  <.dropdown_trigger>
    Actions
  </.dropdown_trigger>
  <.dropdown_menu>
    <.dropdown_item>
      Edit Profile
    </.dropdown_item>
    <.dropdown_item disabled={true}>
      Archive (disabled)
    </.dropdown_item>
    <.dropdown_item>
      Settings
    </.dropdown_item>
    <.dropdown_item disabled={true}>
      Delete (disabled)
    </.dropdown_item>
    <.dropdown_item>
      Sign Out
    </.dropdown_item>
  </.dropdown_menu>
</.dropdown>