<.dropdown id="demo-dropdown">
  <.dropdown_button>Open/Close</.dropdown_button>
  <.dropdown_items>
    <.dropdown_item>Item 1</.dropdown_item>
    <.dropdown_item>Item 2</.dropdown_item>
  </.dropdown_items>
</.dropdown>
