<div class="space-y-16">
  <.demo_section title="Dropdown">
    <.dropdown_demo />
  </.demo_section>

  <.demo_section title="Modal">
    <.modal_demo />
  </.demo_section>

  <.demo_section title="Async modal">
    <.async_modal_demo {assigns} />
  </.demo_section>
</div>
