<button phx-click={
  Prima.Modal.open("form-modal") |> JS.push("open_form_modal")
}>
  Open Form Modal
</button>

<.modal id="form-modal" on_close={JS.push("close_form_modal")}>
  <.modal_overlay />
  <div class="fixed inset-0 z-10">
    <.modal_loader>
      <svg class="animate-spin w-8 h-8">...</svg>
    </.modal_loader>
    
    <.modal_panel :if={@form_modal_open?}>
      <form phx-submit="submit_form">
        <!-- Form fields -->
      </form>
    </.modal_panel>
  </div>
</.modal>