<button phx-click={Prima.Modal.open("quick-modal")}>
  Open Modal
</button>

<Prima.Modal.modal id="quick-modal">
  <.modal_overlay class="fixed inset-0 bg-black/50" />

  <div class="fixed inset-0 flex items-center justify-center p-4">
    <.modal_panel id="modal-panel" class="bg-white rounded p-6">
      <p>Hello Modal!</p>
      <button phx-click={Prima.Modal.close()}>Close</button>
    </.modal_panel>
  </div>
</Prima.Modal.modal>
