# fly.toml app configuration file generated for prima-lingering-feather-539 on 2025-09-15T21:05:52+03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'prima-lingering-feather-539'
primary_region = 'arn'
kill_signal = 'SIGTERM'

[build]
  dockerfile = "demo/Dockerfile"

[env]
  PHX_HOST = 'prima-lingering-feather-539.fly.dev'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 1000
    soft_limit = 1000

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
